# Box-Cox Test for Linerarity

In [13]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.model_selection import train_test_split
import itertools
import random
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
3 Feature Selection/4.0.0 SFS_df_Join_all.ipynb

In [5]:
#df_All = pd.read_csv(r"C:\Users\saust\OneDrive - Sasol\1 Project rC4\Jupyter Notebooks\Report 10-20-23 No Fluff\df_All_Avg.csv")

df_All_1o2 = pd.read_csv('3 Feature Selection/contData_all_Avg - 1o2.csv')
df_All_1o2 = pd.read_csv('3 Feature Selection/contData_all_Avg - 2o2.csv')

#df_All = pd.read_csv(r"C:\Users\saust\OneDrive\Desktop\CodeSpace DLs\102423\Project rC4\3 Final Machine Butanol\df_CDCA6.csv")

In [6]:
# Concatenate (union) the dataframes
df_All = pd.concat([df_All_1o2, df_All_1o2], ignore_index=True)

print(df_All.head())

    425 %Al  Butanol   Decanol    Ethanol   Hexanol   Octanol  AYC55580  \
0  6.466835    8.950  3.271667  29.233325  5.862082  5.912500  9.708929
1  6.479165    8.750  3.261668  29.233325  5.832917  5.870832  9.647859
2  6.491500    8.525  3.310000  28.950000  5.767500  5.790000  9.592980
3  6.503835    8.275  3.416667  28.383325  5.665832  5.670000  9.572995
4  6.516165    8.025  3.523332  27.816675  5.564167  5.550000  9.586615

    DI55102   DI55152   DI55580  ...    TI40050     TI52014     TI55013  \
0  1.016935  0.974092  0.991364  ...  74.705737  134.922750  204.003375
1  1.017048  0.973535  0.991012  ...  74.042025  134.517750  203.384625
2  1.017505  0.973474  0.990783  ...  73.626350  134.084875  202.217250
3  1.017742  0.974004  0.990838  ...  73.203325  133.625625  201.412625
4  1.017679  0.974445  0.991013  ...  72.900725  133.217250  201.149500

      TI55014     TI55015     TI55016     TI55017     TI55021     TI55023  \
0  197.780625  193.192500  190.510125  188.871625  216.306750  213.595750
1  197.444250  192.960750  190.375875  188.838375  216.041375  213.364500
2  196.611375  192.210250  189.874750  188.452250  215.747250  213.030000
3  195.868875  191.353125  189.309125  187.879500  215.486500  212.716750
4  195.536625  190.952000  188.985875  187.550375  215.377250  212.599375

   VI52558B
0  3.970054
1  4.009966
2  4.011081
3  3.979564
4  3.901986

[5 rows x 49 columns]

In [7]:
# Set max columns to display
pd.set_option('display.max_columns', None)

In [8]:
# df_All = df_All[df_All['Date'] > '2022-06-15 00:00:00']

In [9]:
# List of columns to exclude to run XGboost feature selection
exclude_columns = ['Octanol', 'Hexanol',
       'Ethanol', 'Decanol',
       
       'TI52014', 'TI55013', 'TI55014', 'TI55015', 'TI55016', 'TI55017', 'TI55021', 'TI55023',
       'TC52015', 'FC52018', 'II52554', 'TI40050', 'VI52558B'

       # 'FC55102', 'FC55152', 'LC55557', 'LC55568', 'TC55555',

       # '425 SAO Al', 'FFC55553', 'LC52572', 'LC90366',

       # 'FC42428', 'LC55553',

       # 'FC55009'
                   ]

# Create a new DataFrame without the excluded columnsd
df_All = df_All.drop(columns=exclude_columns)

In [10]:
df_All.columns

Index(['425 %Al', 'Butanol', 'AYC55580', 'DI55102', 'DI55152', 'DI55580',
       'FC42428', 'FC55003', 'FC55009', 'FC55102', 'FC55152', 'FC55552',
       'FC55555', 'FC55569', 'FC55576', 'FFC55553', 'FFC55555', 'FYC55553',
       'LC52572', 'LC55553', 'LC55555', 'LC55557', 'LC55568', 'LC90366',
       'LC90368', 'PI55004', 'PI55020', 'PI55560', 'TC55552', 'TC55553',
       'TC55555', 'TC55566'],
      dtype='object')