In [1]:
import pandas as pd
# Set max columns to display
pd.set_option('display.max_columns', None)

import numpy as np
from sklearn import preprocessing as pre
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

C:\Users\austinsh\AppData\Local\Temp\ipykernel_16456\1304120184.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:

# # Importing CSV files
# df_CDunit = pd.read_csv('https://raw.githubusercontent.com/saust1/Project-OptiC4/main/1%20Preprocess/Continuous%20Data/cont_554Data_clean.csv')
# df_AlCon = pd.read_csv('https://raw.githubusercontent.com/saust1/Project-OptiC4/main/1%20Preprocess/Continuous%20Data/cont_425Data_clean.csv')
# df_FB554 = pd.read_csv('https://raw.githubusercontent.com/saust1/Project-OptiC4/main/1%20Preprocess/Continuous%20Data/cont_unitData_clean.csv')

In [3]:
# # Importing CSV files
# bordeCode directory
df_CDunit = pd.read_csv(r'C:\Users\austinsh\Project-OptiC4\IV Optimize\Testing Data\Continuous Data 2023\cont_unitData_clean.csv')
df_AlCon = pd.read_csv(r'C:\Users\austinsh\Project-OptiC4\IV Optimize\Testing Data\Continuous Data 2023\cont_425Data_clean.csv')
df_FB554 = pd.read_csv(r'C:\Users\austinsh\Project-OptiC4\IV Optimize\Testing Data\Continuous Data 2023\cont_554Data_clean.csv')

In [4]:
print(df_CDunit.describe())
print(df_AlCon.describe())
print(df_FB554.describe())

           DI55102      DI55152      DI55580      FC55003      FC55009  \
count  4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean      0.825533     1.022945     0.970547  5915.277415  1110.353856
std       0.055241     0.025410     0.036531   704.302443   366.916357
min       0.750013     0.965978     0.873708  3495.310000    59.931500
25%       0.794854     1.001015     0.941198  5447.270000   865.216500
50%       0.794860     1.026990     0.983524  5890.350000  1084.950000
75%       0.862055     1.046290     0.998387  6403.680000  1326.785000
max       0.999487     1.071690     1.030410  8369.130000  2244.140000

            FC55552      FC55569      FC55576     FFC55553     FFC55555  \
count   4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean   34708.236973  6521.006597   374.621914     0.918578     0.786579
std     3406.599218   336.992674   189.402749     0.045267     0.013370
min    23523.500000  5477.780000     0.138046     0.796049     0.744077
25%    32989.700000  6308.805000   232.452000     0.889723     0.779083
50%    36027.100000  6442.550000   387.397000     0.920461     0.781080
75%    37448.800000  6727.735000   498.710500     0.950629     0.799594
max    43342.900000  7567.070000   890.725000     1.049780     0.830030

           LC55557      LC90366      LC90368      PI55020      TC55552  \
count  4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean     71.191804    58.480030    57.366992    -0.457334   165.665512
std       6.619247    10.558086    11.208154     0.622692    11.251458
min      52.161300    28.690700    28.170900    -2.468400   137.535000
25%      63.094850    50.152950    49.068200    -0.810843   160.038500
50%      74.959200    60.856700    60.383700    -0.325274   164.894000
75%      76.908200    66.593600    65.878000    -0.001736   175.117500
max      82.875700    78.844100    77.101700     1.386530   199.243000

           TI55021
count  4863.000000
mean    225.747036
std       3.420773
min     215.852000
25%     222.839500
50%     226.165000
75%     228.229500
max     235.343000
        425_pct_Al        Al2O3      M_Value   C4_pct_Eth   C4_pct_H2O  \
count  4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean      6.222920    11.538166     3.633756     1.802088    18.017181
std       0.267239     0.423523     0.098093     0.393309     1.446226
min       5.014820    10.762400     3.339330     0.554000    13.980000
25%       6.124655    11.198350     3.567620     1.466635    17.014350
50%       6.266540    11.561900     3.626290     1.769500    17.794600
75%       6.378175    11.939900     3.706825     2.014315    18.740600
max       6.865290    12.201500     3.901390     3.047460    22.732800

       HydWtr_pct_Ammonia   C4_pct_Hex  HydWtr_Na2O
count         4863.000000  4863.000000  4863.000000
mean             0.948237     0.378258     1.689323
std              0.115516     0.112933     1.733939
min              0.649250     0.041967     0.000000
25%              0.871500     0.300553     1.060425
50%              0.931875     0.375000     1.676910
75%              1.021615     0.454165     1.884270
max              1.374520     0.673000    24.397300
           Butanol      Decanol      Ethanol      Hexanol      Octanol
count  4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean     13.817716     2.727750    19.764155     1.513835     2.152780
std      17.474692     1.502229    21.074383     0.747292     1.138754
min       0.900000     0.000000     0.610000     0.000000     0.540000
25%       2.186670     1.563330     3.881670     0.955000     1.290000
50%       3.980000     2.158330    10.096700     1.210000     1.660000
75%      20.658350     3.750000    28.243300     2.060000     3.055000
max      74.770000     7.768330    87.580000     3.909320     5.729400

In [5]:
print("Data type for 'Date' column in df_CDunit:", df_CDunit['Date'].dtypes)
print("Data type for 'Date' column in df_FB554:", df_FB554['Date'].dtypes)
print("Data type for 'Date' column in df_AlCon:", df_AlCon['Date'].dtypes)

Data type for 'Date' column in df_CDunit: object
Data type for 'Date' column in df_FB554: object
Data type for 'Date' column in df_AlCon: object

In [6]:
df_CDunit['Date'] = pd.to_datetime(df_CDunit['Date'], errors='coerce')
df_FB554['Date'] = pd.to_datetime(df_FB554['Date'], errors='coerce')
df_AlCon['Date'] = pd.to_datetime(df_AlCon['Date'], errors='coerce')

In [7]:
print("Data type for 'Date' column in df_CDunit:", df_CDunit['Date'].dtypes)
print("Data type for 'Date' column in df_FB554:", df_FB554['Date'].dtypes)
print("Data type for 'Date' column in df_AlCon:", df_AlCon['Date'].dtypes)

Data type for 'Date' column in df_CDunit: datetime64[ns]
Data type for 'Date' column in df_FB554: datetime64[ns]
Data type for 'Date' column in df_AlCon: datetime64[ns]

In [8]:
print(df_CDunit.columns)
print(df_FB554.columns)
print(df_AlCon.columns)

Index(['Date', 'DI55102', 'DI55152', 'DI55580', 'FC55003', 'FC55009',
       'FC55552', 'FC55569', 'FC55576', 'FFC55553', 'FFC55555', 'LC55557',
       'LC90366', 'LC90368', 'PI55020', 'TC55552', 'TI55021'],
      dtype='object')
Index(['Date', 'Butanol', 'Decanol', 'Ethanol', 'Hexanol', 'Octanol'], dtype='object')
Index(['Date', '425_pct_Al', 'Al2O3', 'M_Value', 'C4_pct_Eth', 'C4_pct_H2O',
       'HydWtr_pct_Ammonia', 'C4_pct_Hex', 'HydWtr_Na2O'],
      dtype='object')

In [9]:
def apply_rolling_average_to_df(df, rolling_size):
    # Ensure 'Date' is the index if it's not already
    if df.index.name != 'Date':
        df = df.set_index('Date')

    # Apply rolling average to all columns
    rolled_df = df.rolling(window=rolling_size, min_periods=1).mean()

    # Reset index to make 'Date' a column again
    rolled_df = rolled_df.reset_index()

    return rolled_df

In [10]:
def apply_time_shift_by_hours(df, shift_hours):
    """
    Shifts the DataFrame's datetime index by the specified number of hours.

    :param df: DataFrame with 'Date' as its datetime index or column.
    :param shift_hours: Number of hours to shift. Can be positive (forward) or negative (backward).
    :return: Shifted DataFrame.
    """
    # Convert 'Date' to datetime and set as index if it's not already
    if df.index.name != 'Date':
        df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
        df = df.set_index('Date')

    # Ensure the index is a DatetimeIndex
    df.index = pd.to_datetime(df.index)

    # Shift the DataFrame's index by the specified number of hours
    df.index = df.index + pd.Timedelta(hours=shift_hours)

    return df

In [11]:
# # Usage Examples
# shift_hours_AlCon = 1  # Negative shift for df_AlCon (e.g., -5 hours backward)
# shift_hours_FB554 = 5   # Positive shift for df_FB554 (e.g., 5 hours forward)

# shifted_df_AlCon = apply_time_shift_by_hours(df_AlCon, shift_hours_AlCon)
# print("Shifted df_AlCon:")
# print(shifted_df_AlCon.head())

# shifted_df_FB554 = apply_time_shift_by_hours(df_FB554, shift_hours_FB554)
# print("\nShifted df_FB554:")
# print(shifted_df_FB554.head())

In [12]:
def join_df_FB554_to_df_CDunit(df_CDunit, df_FB554):
    # Reset index if 'Date' is the index
    if df_CDunit.index.name == 'Date':
        df_CDunit = df_CDunit.reset_index()
    if df_FB554.index.name == 'Date':
        df_FB554 = df_FB554.reset_index()

    # Ensure 'Date' columns are datetime objects and sort DataFrames
    df_CDunit['Date'] = pd.to_datetime(df_CDunit['Date'], errors='coerce')
    df_FB554['Date'] = pd.to_datetime(df_FB554['Date'], errors='coerce')

    df_CDunit = df_CDunit.dropna(subset=['Date']).sort_values('Date')
    df_FB554 = df_FB554.dropna(subset=['Date']).sort_values('Date')

    # Perform merge_asof
    combined_df = pd.merge_asof(df_FB554, df_CDunit, on='Date', direction='nearest')

    return combined_df

def join_df_AlCon_to_combined_df(combined_df, df_AlCon):
    # Reset index if 'Date' is the index
    if combined_df.index.name == 'Date':
        combined_df = combined_df.reset_index()
    if df_AlCon.index.name == 'Date':
        df_AlCon = df_AlCon.reset_index()

    # Ensure 'Date' columns are datetime objects and sort DataFrames
    combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')
    df_AlCon['Date'] = pd.to_datetime(df_AlCon['Date'], errors='coerce')

    combined_df = combined_df.dropna(subset=['Date']).sort_values('Date')
    df_AlCon = df_AlCon.dropna(subset=['Date']).sort_values('Date')

    # Perform merge_asof
    combined_df_all = pd.merge_asof(df_AlCon, combined_df, on='Date', direction='nearest')
    
    return combined_df_all

In [13]:
print("Data type for 'Date' column in df_CDunit:", df_CDunit['Date'].dtypes)
print("Data type for 'Date' column in df_FB554:", df_FB554['Date'].dtypes)
print("Data type for 'Date' column in df_AlCon:", df_AlCon['Date'].dtypes)

Data type for 'Date' column in df_CDunit: datetime64[ns]
Data type for 'Date' column in df_FB554: datetime64[ns]
Data type for 'Date' column in df_AlCon: datetime64[ns]

In [14]:
def process_data_limited():
    # Apply the specific rolling average directly
    rolled_df_CDunit = apply_rolling_average_to_df(df_CDunit, 8)
    rolled_df_FB554 = apply_rolling_average_to_df(df_FB554, 4)
    rolled_df_AlCon = apply_rolling_average_to_df(df_AlCon, 2)

    # Apply the specific time shifts directly
    rolled_df_AlCon_shifted = apply_time_shift_by_hours(rolled_df_AlCon, -1) # Assuming apply_time_shift_by_hours handles negative shifts correctly
    rolled_df_FB554_shifted = apply_time_shift_by_hours(rolled_df_FB554, 1)

    # Combine df_CDunit and df_FB554 to create combined_df
    combined_df = join_df_FB554_to_df_CDunit(rolled_df_CDunit, rolled_df_FB554_shifted)

    # Combine combined_df with rolled_df_AlCon to create combined_df_all
    combined_df_all = join_df_AlCon_to_combined_df(combined_df, rolled_df_AlCon_shifted)

    # At this point, combined_df_all is the DataFrame with the data processed by the specified shifts and averages
    return combined_df_all

In [15]:
# Make sure all your helper functions and initial DataFrames (df_CDunit, df_FB554, df_AlCon) are correctly defined

# Now, call the modified process_data function to get the processed DataFrame
final_dataset = process_data_limited()

# Inspect the final_dataset
print(final_dataset.head())  # Print the first few rows to inspect the dataset

                 Date  425_pct_Al     Al2O3   M_Value  C4_pct_Eth  C4_pct_H2O  \
0 2023-01-01 03:00:00    6.159550  10.76240  3.901390    2.077530    21.50120
1 2023-01-01 09:00:00    6.159750  10.76285  3.893505    2.123750    21.55375
2 2023-01-01 10:00:00    6.159985  10.76340  3.884305    2.177670    21.61510
3 2023-01-01 18:00:00    6.160285  10.76415  3.843085    2.246995    21.69400
4 2023-01-01 23:00:00    6.160715  10.76520  3.772120    2.347140    21.80795

   HydWtr_pct_Ammonia  C4_pct_Hex  HydWtr_Na2O   Butanol   Decanol    Ethanol  \
0            1.229850    0.387521     3.528950  3.268330  1.755000  12.803300
1            1.212805    0.399834     3.239975  3.569165  1.614165  13.817500
2            1.190910    0.414198     2.880790  3.569165  1.614165  13.817500
3            1.147270    0.432667     2.248915  3.674583  1.750417  14.145400
4            1.084235    0.459344     1.336206  3.675000  1.855417  13.964575

    Hexanol   Octanol   DI55102   DI55152   DI55580      FC55003   FC55009  \
0  0.955000  1.131670  0.794854  1.036050  1.025130  6004.100000  1548.140
1  0.960834  1.052501  0.794854  1.036240  1.025323  5205.556667  1186.100
2  0.960834  1.052501  0.794854  1.036240  1.025323  5205.556667  1186.100
3  1.007082  1.129586  0.794854  1.036412  1.025825  5154.950000  1256.780
4  1.055832  1.200418  0.794854  1.036742  1.026116  5322.356000  1329.426

        FC55552   FC55569   FC55576  FFC55553  FFC55555    LC55557    LC90366  \
0  37103.500000  6348.740  3.615110  0.900075  0.768297  66.293000  55.829200
1  37025.766667  6346.200  5.432285  0.913374  0.770656  66.084333  55.331633
2  37025.766667  6346.200  5.432285  0.913374  0.770656  66.084333  55.331633
3  37021.525000  6349.200  8.516539  0.912495  0.770907  66.056000  55.008975
4  37012.960000  6348.614  7.042021  0.911921  0.770362  66.066580  54.647740

     LC90368   PI55020     TC55552     TI55021
0  55.811500 -1.065310  169.012000  223.161000
1  55.368433 -1.055726  169.252333  222.737333
2  55.368433 -1.055726  169.252333  222.737333
3  55.024700 -1.105172  169.469000  222.352500
4  54.650880 -1.195370  169.571000  222.047200

In [16]:
# Inspect the final_dataset
print(final_dataset.describe())  # Print the first few rows to inspect the dataset

                                Date   425_pct_Al        Al2O3      M_Value  \
count                           4863  4863.000000  4863.000000  4863.000000
mean   2023-07-18 16:10:46.267736064     6.222890    11.538018     3.633789
min              2023-01-01 03:00:00     5.020410    10.762400     3.340825
25%              2023-04-22 19:00:00     6.124507    11.198225     3.567775
50%              2023-07-24 21:00:00     6.266860    11.561850     3.626065
75%              2023-10-29 15:30:00     6.378610    11.939825     3.706710
max              2023-12-31 22:00:00     6.850010    12.201400     3.901390
std                              NaN     0.266864     0.423541     0.097989

        C4_pct_Eth   C4_pct_H2O  HydWtr_pct_Ammonia   C4_pct_Hex  HydWtr_Na2O  \
count  4863.000000  4863.000000         4863.000000  4863.000000  4863.000000
mean      1.802102    18.017469            0.948256     0.378261     1.689514
min       0.565000    13.995000            0.653169     0.042287     0.000000
25%       1.466838    17.014225            0.871547     0.300427     1.062673
50%       1.769575    17.800200            0.931711     0.375172     1.679105
75%       2.014327    18.745375            1.020632     0.454056     1.884772
max       3.045115    22.718500            1.368775     0.672360    24.214600
std       0.393184     1.441296            0.115171     0.112879     1.725531

           Butanol      Decanol      Ethanol      Hexanol      Octanol  \
count  4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean     13.928301     2.731687    19.804682     1.515900     2.155129
min       0.915417     0.236667     0.675417     0.382500     0.577917
25%       2.204166     1.565000     3.945417     0.957500     1.293541
50%       4.099168     2.170000    10.310000     1.215000     1.666667
75%      20.968537     3.776457    28.405625     2.068750     3.063750
max      72.060425     7.683750    86.855000     3.765000     5.607500
std      17.315615     1.491233    20.970677     0.742988     1.133283

           DI55102      DI55152      DI55580      FC55003      FC55009  \
count  4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean      0.825497     1.022949     0.970579  5914.217326  1110.244491
min       0.750019     0.966412     0.881688  3877.890000    61.518175
25%       0.794854     1.001092     0.941028  5479.241250   883.497938
50%       0.794859     1.027056     0.983864  5859.160000  1083.701375
75%       0.862050     1.046182     0.998389  6392.133750  1321.758125
max       0.999251     1.065310     1.027066  7978.512500  2184.681250
std       0.054841     0.025341     0.036463   639.105569   345.426984

            FC55552      FC55569      FC55576     FFC55553     FFC55555  \
count   4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean   34704.047501  6520.384046   374.604484     0.918552     0.786572
min    24820.162500  5496.946250     2.599191     0.818402     0.759255
25%    32984.243750  6310.682500   233.910562     0.889976     0.779434
50%    35995.137500  6438.708750   387.177500     0.920250     0.780445
75%    37422.412500  6725.718125   496.905438     0.950398     0.799761
max    38991.037500  7556.065000   831.366625     1.020693     0.824664
std     3317.370726   331.472825   186.549316     0.044702     0.013071

           LC55557      LC90366      LC90368      PI55020      TC55552  \
count  4863.000000  4863.000000  4863.000000  4863.000000  4863.000000
mean     71.200291    58.488584    57.379232    -0.457583   165.666667
min      59.133813    33.763000    28.541313    -2.326252   137.881750
25%      63.016500    50.247619    49.088600    -0.784764   160.101437
50%      74.918475    60.831375    60.366825    -0.309474   164.913875
75%      76.859131    66.618650    65.869563    -0.022586   175.211625
max      80.088975    78.601937    76.573538     0.564246   188.672500
std       6.541713    10.481267    11.140409     0.554251    11.163375

           TI55021
count  4863.000000
mean    225.741677
min     218.812875
25%     222.838188
50%     226.273250
75%     228.144000
max     234.588625
std       3.300229

In [17]:
import pandas as pd

# Assuming the 'Date' column is a string, you can extract the year using the str accessor
# final_dataset['Year'] = final_dataset['Date'].str[:4]

# Alternatively, if the 'Date' column is already a datetime object, you can extract the year directly
final_dataset['Year'] = final_dataset['Date'].dt.year

# Now count the records for each year
record_counts_by_year = final_dataset['Year'].value_counts().sort_index()

# Output the results
print(record_counts_by_year)

Year
2023    4863
Name: count, dtype: int64

In [18]:
# Save DataFrame to CSV file in the same directory as the Jupyter Notebook
# model_results.to_csv('merged_data'.csv', index=False)
                     
# Save DataFrame to CSV file in the same directory as the Jupyter Notebook
# df_CD.to_csv(r'C:\Users\steve\OneDrive\1. BAIUTEK\Project-OptiC4\1 Preprocess\Continuous Data\contData_all.csv', index=False)            

final_dataset.to_csv(r'C:\Users\austinsh\Project-OptiC4\IV Optimize\Testing Data\Continuous Data 2023\merged_data.csv', index=False)

In [19]:
from datetime import datetime

# Get the current date and time
current_date_time = datetime.now()

# Print the current date and time
print(current_date_time)

2024-05-07 02:05:11.778789