In [17]:
import pandas as pd
# Set max columns to display
pd.set_option('display.max_columns', None)
from sklearn import preprocessing as pre
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [18]:

# Importing CSV files
df_CDunit = pd.read_csv(r"C:\Users\saust\OneDrive\Desktop\GitRepo\Project-OptiC4\1 Preprocess\Continuous Data\cont_554Data_clean.csv")
df_AlCon = pd.read_csv(r"C:\Users\saust\OneDrive\Desktop\GitRepo\Project-OptiC4\1 Preprocess\Continuous Data\cont_425Data_clean.csv")
df_FB554 = pd.read_csv(r"C:\Users\saust\OneDrive\Desktop\GitRepo\Project-OptiC4\1 Preprocess\Continuous Data\cont_unitData_clean.csv")

In [19]:
print(df_CDunit.describe())
print(df_AlCon.describe())
print(df_FB554.describe())

            Butanol
count  48064.000000
mean       9.785834
std       10.160568
min        0.000000
25%        3.832595
50%        5.908670
75%       10.990000
max       59.010000
         425_pct_Al       M_Value    C4_pct_Eth    C4_pct_H2O  \
count  48064.000000  48064.000000  48064.000000  48064.000000
mean       6.121527      3.598034      1.246364     21.103333
std        0.310173      0.180238      0.720948      2.763381
min        0.155707      1.346790      0.086632      7.823650
25%        5.991420      3.500708      0.642266     18.737475
50%        6.131130      3.590000      1.195790     21.332700
75%        6.274265      3.688767      1.697302     23.248450
max        8.058320      5.831770      9.844330     34.362400

       HydWtr_pct_Ammonia
count        48064.000000
mean             0.967209
std              0.146912
min              0.360178
25%              0.875875
50%              0.939325
75%              1.030030
max              1.617070
           AYC55580       DI55102       DI55152       DI55580       FC42428  \
count  48064.000000  48064.000000  48064.000000  48064.000000  48064.000000
mean      11.363177      0.938292      0.936531      0.998257  36151.561639
std        4.850976      0.059909      0.034358      0.051217   5139.441714
min       -3.055680      0.794118      0.824670      0.841696  17165.500000
25%        9.775320      0.906156      0.913999      0.965028  34747.850000
50%       10.805350      0.947357      0.935493      0.997964  37970.750000
75%       13.970725      0.983124      0.955312      1.033820  39457.650000
max       25.501300      1.059180      1.048640      1.140980  49959.600000

            FC55003       FC55009       FC55102       FC55152       FC55552  \
count  48064.000000  48064.000000  48064.000000  48064.000000  48064.000000
mean    5952.978185    848.220753  44526.824994  40417.323864  36340.104550
std      847.683897    610.037366   6168.162983   5459.963811   4275.391282
min     2807.760000      0.000000  20368.700000  18860.700000  18558.800000
25%     5424.630000    320.318250  41409.300000  38485.600000  35062.075000
50%     5973.450000    834.348500  45887.700000  41477.500000  37960.000000
75%     6522.630000   1323.710000  48543.450000  43732.800000  39017.500000
max     9070.260000   2670.920000  62848.200000  57371.200000  52000.000000

            FC55555       FC55569       FC55576      FFC55553      FFC55555  \
count  48064.000000  48064.000000  48064.000000  48064.000000  48064.000000
mean   28104.100489   6596.276391    380.872724      0.998268      0.773248
std     3419.828722    362.422636    259.029411      0.036746      0.022350
min    14012.100000   5145.140000      0.000000      0.815578      0.694477
25%    27282.375000   6379.000000    203.479250      0.972384      0.759308
50%    29231.100000   6577.465000    350.728000      0.997870      0.776544
75%    30205.850000   6805.180000    565.299250      1.018792      0.789198
max    34638.100000   8070.910000   1176.810000      1.170060      0.850961

           FYC55553       LC55553       LC55555       LC55557       LC55568  \
count  48064.000000  48064.000000  48064.000000  48064.000000  48064.000000
mean   36234.197955     63.329273     57.081414     69.431922     41.143177
std     4176.239735      7.156869     10.037618      2.810757      1.498108
min    18110.900000     41.918300     27.970000     60.351700     32.192200
25%    34881.850000     59.578950     47.263450     67.117900     40.742375
50%    37538.800000     65.397850     59.943700     70.031500     41.234850
75%    38838.475000     68.206550     65.086750     71.619725     41.599000
max    46156.700000     82.753500     79.033400     78.119700     49.420800

            LC90366       LC90368       PI55004       PI55020       PI55560  \
count  48064.000000  48064.000000  48064.000000  48064.000000  48064.000000
mean      46.508861     37.532827      2.183574     -1.523616      0.978657
std       28.725663     20.215792      1.166487      1.116584      0.991547
min        0.000000      0.006367      0.001366     -4.856830     -2.094890
25%       22.035575     21.661050      1.262065     -2.386153      0.206120
50%       48.833400     43.461900      1.922580     -1.532940      0.746700
75%       76.796700     52.770625      2.940780     -0.512644      1.657118
max       87.901600     81.210800      6.299380      1.983020      4.467930

            TC55552       TC55553       TC55555       TC55566       TI40050  \
count  48064.000000  48064.000000  48064.000000  48064.000000  48064.000000
mean     168.616937    181.290465    181.008748    197.163834     73.315504
std       15.352568     28.041787      1.515823     12.953080     15.320339
min      119.683000    110.534000    175.746000    156.727000     27.200000
25%      155.332000    161.451000    179.965000    185.858000     62.505400
50%      172.531000    175.799000    180.125000    200.039000     76.556250
75%      180.858250    196.687250    182.027000    205.077000     84.896025
max      202.625000    246.047000    186.584000    227.835000    118.700000

            TI52014       TI55013       TI55014       TI55015       TI55016  \
count  48064.000000  48064.000000  48064.000000  48064.000000  48064.000000
mean     129.077874    200.789109    197.065824    194.719423    190.094731
std       11.973351     17.680867     13.726206     13.604169      9.159624
min       91.769900    161.963000    167.953000    161.407000    164.278000
25%      120.655750    186.294250    186.099750    184.028750    182.823750
50%      129.614500    199.092000    195.789000    193.494500    189.006000
75%      138.056250    210.519000    204.229250    202.010250    194.924000
max      163.594000    241.383000    228.072000    227.543000    213.986000

            TI55017       TI55021       TI55023
count  48064.000000  48064.000000  48064.000000
mean     186.024059    223.081652    218.300526
std        9.817368      9.611556      3.614977
min      159.678000    207.365000    206.266000
25%      178.739750    217.585000    215.524000
50%      185.013000    220.385000    217.590000
75%      191.763500    223.934000    220.830000
max      211.356000    257.805000    231.161000

In [20]:
print("Data type for 'Date' column in df_CDunit:", df_CDunit['Date'].dtypes)
print("Data type for 'Date' column in df_FB554:", df_FB554['Date'].dtypes)
print("Data type for 'Date' column in df_AlCon:", df_AlCon['Date'].dtypes)

Data type for 'Date' column in df_CDunit: object
Data type for 'Date' column in df_FB554: object
Data type for 'Date' column in df_AlCon: object

In [21]:
df_CDunit['Date'] = pd.to_datetime(df_CDunit['Date'], errors='coerce')
df_FB554['Date'] = pd.to_datetime(df_FB554['Date'], errors='coerce')
df_AlCon['Date'] = pd.to_datetime(df_AlCon['Date'], errors='coerce')

In [22]:
print("Data type for 'Date' column in df_CDunit:", df_CDunit['Date'].dtypes)
print("Data type for 'Date' column in df_FB554:", df_FB554['Date'].dtypes)
print("Data type for 'Date' column in df_AlCon:", df_AlCon['Date'].dtypes)

Data type for 'Date' column in df_CDunit: datetime64[ns]
Data type for 'Date' column in df_FB554: datetime64[ns]
Data type for 'Date' column in df_AlCon: datetime64[ns]

In [23]:
print(df_CDunit.columns)
print(df_FB554.columns)
print(df_AlCon.columns)

Index(['Date', 'Butanol'], dtype='object')
Index(['Date', 'AYC55580', 'DI55102', 'DI55152', 'DI55580', 'FC42428',
       'FC55003', 'FC55009', 'FC55102', 'FC55152', 'FC55552', 'FC55555',
       'FC55569', 'FC55576', 'FFC55553', 'FFC55555', 'FYC55553', 'LC55553',
       'LC55555', 'LC55557', 'LC55568', 'LC90366', 'LC90368', 'PI55004',
       'PI55020', 'PI55560', 'TC55552', 'TC55553', 'TC55555', 'TC55566',
       'TI40050', 'TI52014', 'TI55013', 'TI55014', 'TI55015', 'TI55016',
       'TI55017', 'TI55021', 'TI55023'],
      dtype='object')
Index(['Date', '425_pct_Al', 'M_Value', 'C4_pct_Eth', 'C4_pct_H2O',
       'HydWtr_pct_Ammonia'],
      dtype='object')

In [24]:
def apply_rolling_average_to_df(df, rolling_size):
    # Ensure 'Date' is the index if it's not already
    if df.index.name != 'Date':
        df = df.set_index('Date')

    # Apply rolling average to all columns
    rolled_df = df.rolling(window=rolling_size, min_periods=1).mean()

    # Reset index to make 'Date' a column again
    rolled_df = rolled_df.reset_index()

    return rolled_df

In [25]:
def apply_time_shift_by_hours(df, shift_hours):
    """
    Shifts the DataFrame's datetime index by the specified number of hours.

    :param df: DataFrame with 'Date' as its datetime index or column.
    :param shift_hours: Number of hours to shift. Can be positive (forward) or negative (backward).
    :return: Shifted DataFrame.
    """
    # Convert 'Date' to datetime and set as index if it's not already
    if df.index.name != 'Date':
        df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
        df = df.set_index('Date')

    # Ensure the index is a DatetimeIndex
    df.index = pd.to_datetime(df.index)

    # Shift the DataFrame's index by the specified number of hours
    df.index = df.index + pd.Timedelta(hours=shift_hours)

    return df

In [26]:
# # Usage Examples
# shift_hours_AlCon = 1  # Negative shift for df_AlCon (e.g., -5 hours backward)
# shift_hours_FB554 = 5   # Positive shift for df_FB554 (e.g., 5 hours forward)

# shifted_df_AlCon = apply_time_shift_by_hours(df_AlCon, shift_hours_AlCon)
# print("Shifted df_AlCon:")
# print(shifted_df_AlCon.head())

# shifted_df_FB554 = apply_time_shift_by_hours(df_FB554, shift_hours_FB554)
# print("\nShifted df_FB554:")
# print(shifted_df_FB554.head())

In [27]:
def join_df_FB554_to_df_CDunit(df_CDunit, df_FB554):
    # Ensure 'Date' columns are datetime objects and sort DataFrames
    df_CDunit['Date'] = pd.to_datetime(df_CDunit['Date'], errors='coerce')
    df_FB554['Date'] = pd.to_datetime(df_FB554['Date'], errors='coerce')

    df_CDunit = df_CDunit.dropna(subset=['Date']).sort_values('Date')
    df_FB554 = df_FB554.dropna(subset=['Date']).sort_values('Date')

    # Perform merge_asof
    combined_df = pd.merge_asof(df_FB554, df_CDunit, on='Date', direction='nearest')

    return combined_df

def join_df_AlCon_to_combined_df(combined_df, df_AlCon):
    # Ensure 'Date' columns are datetime objects and sort DataFrames
    combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')
    df_AlCon['Date'] = pd.to_datetime(df_AlCon['Date'], errors='coerce')

    combined_df = combined_df.dropna(subset=['Date']).sort_values('Date')
    df_AlCon = df_AlCon.dropna(subset=['Date']).sort_values('Date')

    # Perform merge_asof
    combined_df_all = pd.merge_asof(df_AlCon, combined_df, on='Date', direction='nearest')
    
    return combined_df_all

In [28]:
print("Data type for 'Date' column in df_CDunit:", df_CDunit['Date'].dtypes)
print("Data type for 'Date' column in df_FB554:", df_FB554['Date'].dtypes)
print("Data type for 'Date' column in df_AlCon:", df_AlCon['Date'].dtypes)

Data type for 'Date' column in df_CDunit: datetime64[ns]
Data type for 'Date' column in df_FB554: datetime64[ns]
Data type for 'Date' column in df_AlCon: datetime64[ns]

In [29]:
# Iterative merger 
# avereaged F stat
# filtered two closest f stats by whole number
# Took the best adj R^2

In [30]:
def apply_negative_shift_hours(shift_hours):
    return [-hour for hour in shift_hours]

# Rolling sizes ranges
rolling_size_CDunit = [8]  # Even rolling sizes from 4 to 10 range(4, 11, 2)
rolling_size_FB554 = [4]  # Even rolling sizes from 4 to 10 range(4, 11, 2)
rolling_size_AlCon = [2]  # Even rolling sizes from 2 to 30 range(2, 31, 2) 

# Shift hours ranges
shift_hours_AlCon = apply_negative_shift_hours([1])  # Negative shifts from -2 to -8 (range(2, 9, 2)) 
shift_hours_FB554 = ([1])    # Positive shifts from 2 to 8 range(2, 9, 2)

# Precompute rolling averages for each DataFrame and each rolling size
precomputed_rolls = {
    "CDunit": {size: apply_rolling_average_to_df(df_CDunit, size) for size in rolling_size_CDunit},
    "FB554": {size: apply_rolling_average_to_df(df_FB554, size) for size in rolling_size_FB554},
    "AlCon": {size: apply_rolling_average_to_df(df_AlCon, size) for size in rolling_size_AlCon}
}

## Modified process_data function
def process_data():
    iteration_count = 0
    results = pd.DataFrame(columns=['Iteration', 'Rolling Sizes CDunit', 'Rolling Sizes FB554', 'Rolling Sizes AlCon',
                                    'Shift Hours AlCon', 'Shift Hours FB554', 'R-squared', 'Adj R-Squared', 
                                    'F-statistic', 'Prob (F-statistic)'])
    all_combined_dfs = []  # List to store combined_df_all for each iteration

    for size_CDunit in rolling_size_CDunit:
        for size_FB554 in rolling_size_FB554:
            for size_AlCon in rolling_size_AlCon:
                for shift_hour_AlCon in shift_hours_AlCon:
                    for shift_hour_FB554 in shift_hours_FB554:
                        iteration_count += 1

                        # Retrieve rolled dataframes
                        rolled_df_CDunit = precomputed_rolls["CDunit"][size_CDunit]
                        rolled_df_FB554 = precomputed_rolls["FB554"][size_FB554]
                        rolled_df_AlCon = precomputed_rolls["AlCon"][size_AlCon]

                        # Combine df_CDunit and df_FB554 to create combined_df
                        combined_df = join_df_FB554_to_df_CDunit(rolled_df_CDunit, rolled_df_FB554)

                        # Combine combined_df with rolled_df_AlCon to create combined_df_all
                        combined_df_all = join_df_AlCon_to_combined_df(combined_df, rolled_df_AlCon)

                        # Drop 'Date' column before modeling
                        combined_df_all = combined_df_all.drop(columns=['Date'], errors='ignore')

                        # Store combined_df_all in the list
                        all_combined_dfs.append(combined_df_all)

                        # Splitting into train and test
                        X = combined_df_all.drop('Butanol', axis=1)
                        y = combined_df_all['Butanol']
                        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

                        # Train model
                        model = sm.OLS(y_train, X_train).fit()

                        # Store the results instead of printing
                        iteration_results = {
                            'Iteration': iteration_count,
                            'Rolling Sizes CDunit': size_CDunit,
                            'Rolling Sizes FB554': size_FB554,
                            'Rolling Sizes AlCon': size_AlCon,
                            'Shift Hours AlCon': shift_hour_AlCon,
                            'Shift Hours FB554': shift_hour_FB554,
                            'R-squared': model.rsquared,
                            'Adj R-Squared': model.rsquared_adj,
                            'F-statistic': model.fvalue,
                            'Prob (F-statistic)': model.f_pvalue
                        }
                        results = results.append(iteration_results, ignore_index=True)

                        # Print only the iteration count
                        print(f"Iteration: {iteration_count}")

    return results, all_combined_dfs  # Return both results and the list of combined_df_all

# Call the function to process and evaluate the data
model_results, all_combined_dfs = process_data()

Iteration: 1

C:\Users\saust\AppData\Local\Temp\ipykernel_113672\2705700377.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results.append(iteration_results, ignore_index=True)

In [31]:
# Save DataFrame to CSV file in the same directory as the Jupyter Notebook
model_results.to_csv('model_results2.csv', index=False)

In [32]:
combined_df_all = pd.concat(all_combined_dfs)

# Assuming combined_df_all is your DataFrame

# Calculate the index to split the DataFrame
split_index = len(combined_df_all) // 2

# Split the DataFrame into two parts
df_part1 = combined_df_all.iloc[:split_index]
df_part2 = combined_df_all.iloc[split_index:]

# Save the two parts to CSV
df_part1.to_csv('contData_all_Avg_1o2.csv', index=False)
df_part2.to_csv('contData_all_Avg_2o2.csv', index=False)